services:
  app:
    build:
      context: .
      dockerfile: ci-cd.Dockerfile
    container_name: laravel_app_ci
    volumes:
      - .:/var/www/html
    environment:
      - APP_ENV=testing
    depends_on:
      pgsql:
        condition: service_healthy

  pgsql:
    image: postgres:17
    container_name: laravel_pgsql_ci
    environment:
      POSTGRES_DB: testing
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 10s
